In [301]:
import pandas as pd  # module for data manipulation and analysis
import numpy as np # module for high-level mathematical functions 
import sqlite3 as sq  #Explain later.
from datetime import datetime # module for manipulating dates and times 
import plotly.graph_objs as go # for visualization
import calendar
from plotly.offline import init_notebook_mode, iplot #for visualization
init_notebook_mode(connected=True)
from IPython.display import display_html # for display
import matplotlib.pyplot as plt # for visualization
import seaborn as sns # for visualization
sns.set_style("darkgrid")
import warnings # for ignore unnecessery warnings.
warnings.simplefilter('ignore')
%matplotlib inline

In [302]:
df1=pd.read_csv("assignment4.1a.csv")
df2=pd.read_csv("assignment4.1b.csv")
df3=pd.read_csv("assignment4.1c.csv")
df_prom=pd.read_csv("PromotionDates.csv")

In [303]:
df_prom

    Period   StartDate     EndDate
0   Promo1   2/10/2015   2/17/2015
1   Promo2   3/15/2015   3/22/2015
2   Promo3   5/24/2015    6/1/2015
3   Promo4   6/21/2015   6/28/2015
4   Promo5    1/9/2015    6/9/2015
5  Promo6   20/11/2015  27/11/2015

In [304]:
df_prom.iloc[5,0]

'Promo6 '

In [305]:
df1.head(3)

         Date  StoreCode  ProductCode  SalesQuantity
0  2015-01-01          8            9             -1
1  2015-01-01        131            9              1
2  2015-01-01        144            9              2

In [306]:
print (df1.dtypes)

Date             object
StoreCode         int64
ProductCode       int64
SalesQuantity     int64
dtype: object

In [307]:
df1['Date']=pd.to_datetime(df1['Date'])
df1.dtypes

Date             datetime64[ns]
StoreCode                 int64
ProductCode               int64
SalesQuantity             int64
dtype: object

In [308]:
df1.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1873618 entries, 0 to 1873617
Data columns (total 4 columns):
Date             datetime64[ns]
StoreCode        int64
ProductCode      int64
SalesQuantity    int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 57.2 MB

"""
import swifter
import pandas as pd
import dask.dataframe as dd
from dask.multiprocessing import get
#d = [df_prom.iloc[0,0] if pd.to_datetime(df_prom.iloc[0,1]) <= x <= pd.to_datetime(df_prom.iloc[0,2]) else (df_prom.iloc[1,0] if pd.to_datetime(df_prom.iloc[1,1]) <=x <= pd.to_datetime(df_prom.iloc[1,2]) else (df_prom.iloc[2,0] if pd.to_datetime(df_prom.iloc[3,1]) <= x <= pd.to_datetime(df_prom.iloc[3,2]) else (df_prom.iloc[3,0] if pd.to_datetime(df_prom.iloc[3,1]) <= x <= pd.to_datetime(df_prom.iloc[3,2]) else ( df_prom.iloc[4,0] if pd.to_datetime(df_prom.iloc[4,1]) <= x <= pd.to_datetime(df_prom.iloc[4,2]) else (df_prom.iloc[5,0] if pd.to_datetime(df_prom.iloc[5,1]) <= x <= pd.to_datetime(df_prom.iloc[5,2]) else ("Free_season")  )  )  )   )) for x in df1['Date'] ]


def filter(rows):
    res=[]
    
    beginprom1=pd.to_datetime(df_prom.iloc[0,1])
    endprom1=pd.to_datetime(df_prom.iloc[0,2])
    beginprom2=pd.to_datetime(df_prom.iloc[1,1])
    endprom2=pd.to_datetime(df_prom.iloc[1,2])
    beginprom3=pd.to_datetime(df_prom.iloc[2,1])
    endprom3=pd.to_datetime(df_prom.iloc[2,2])
    beginprom4=pd.to_datetime(df_prom.iloc[3,1])
    endprom4=pd.to_datetime(df_prom.iloc[3,2])
    beginprom5=pd.to_datetime(df_prom.iloc[4,1])
    endprom5=pd.to_datetime(df_prom.iloc[4,2])
    beginprom6=pd.to_datetime(df_prom.iloc[5,1])
    endprom6=pd.to_datetime(df_prom.iloc[5,2])
    
    
    for  index,row in df1.iterrows():
        if beginprom1<= row["Date"] <= endprom1:
            return "Promo1"
        elif beginprom2 <= row["Date"] <= endprom2:
            return "Promo2"
        elif beginprom3 <= row["Date"] <= endprom3:
             return "Promo3"
        elif beginprom4 <= row["Date"] <= endprom4:
             return "Promo4"
        elif beginprom5 <= row["Date"] <= endprom5:
            return "Promo5"
        elif beginprom6 <= row["Date"] <= endprom6:
             return "Promo6"
        else:
            return "Free"
        
#a = df1['Date'].swifter.apply(filter)
"""

In [310]:
def filter(data):
    result=[]
    
    
    beginprom1=pd.to_datetime(df_prom.iloc[0,1])
    endprom1=pd.to_datetime(df_prom.iloc[0,2])
    beginprom2=pd.to_datetime(df_prom.iloc[1,1])
    endprom2=pd.to_datetime(df_prom.iloc[1,2])
    beginprom3=pd.to_datetime(df_prom.iloc[2,1])
    endprom3=pd.to_datetime(df_prom.iloc[2,2])
    beginprom4=pd.to_datetime(df_prom.iloc[3,1])
    endprom4=pd.to_datetime(df_prom.iloc[3,2])
    beginprom5=pd.to_datetime(pd.to_datetime("9/1/2015"))
    endprom5=pd.to_datetime("6/9/2015")
    beginprom6=pd.to_datetime("11/20/2015")
    endprom6=pd.to_datetime("11/27/2015")
    
    
    for  i in data['Date']:
        if beginprom1<= i <= endprom1:
            result.append("Promo")
        elif beginprom2 <= i <= endprom2:
            result.append("Promo")
        elif beginprom3 <= i <= endprom3:
             result.append("Promo")
        elif beginprom4 <= i <= endprom4:
             result.append("Promo")
        elif beginprom5 <= i <= endprom5:
            result.append("Promo")
        elif beginprom6 <= i <= endprom6:
             result.append("Promo")
        else:
            result.append("Free")
   

    return result

In [311]:
promArr=filter(df1)

In [312]:
promArr[:5]

['Free', 'Free', 'Free', 'Free', 'Free']

In [313]:
print(len(promArr))
print(df1.shape)

1873618
(1873618, 4)

In [314]:
df1['Season']=promArr

In [315]:
df1.head(3)

        Date  StoreCode  ProductCode  SalesQuantity Season
0 2015-01-01          8            9             -1   Free
1 2015-01-01        131            9              1   Free
2 2015-01-01        144            9              2   Free

In [316]:
#Lets apply one hot  encoding to the season

In [317]:
df1.Season.unique()

array(['Free', 'Promo'], dtype=object)

In [318]:
df1

              Date  StoreCode  ProductCode  SalesQuantity Season
0       2015-01-01          8            9             -1   Free
1       2015-01-01        131            9              1   Free
2       2015-01-01        144            9              2   Free
3       2015-01-01        203            9              2   Free
4       2015-01-01        256            9              0   Free
5       2015-01-01        273            9              1   Free
6       2015-01-02         12            9              0   Free
7       2015-01-02         52            9              1   Free
8       2015-01-02         65            9              1   Free
9       2015-01-02        118            9              1   Free
10      2015-01-02        173            9              1   Free
11      2015-01-02        177            9              1   Free
12      2015-01-02        184            9              1   Free
13      2015-01-02        250            9              1   Free
14      2015-01-02        304            9              1   Free
15      2015-01-02        331            9              0   Free
16      2015-01-03         62            9              1   Free
17      2015-01-03        148            9              1   Free
18      2015-01-03        245            9              1   Free
19      2015-01-03        304            9              1   Free
20      2015-01-04         20            9              0   Free
21      2015-01-04         44            9              0   Free
22      2015-01-04         86            9              1   Free
23      2015-01-04         98            9              0   Free
24      2015-01-04        125            9              0   Free
25      2015-01-04        131            9              0   Free
26      2015-01-04        137            9              0   Free
27      2015-01-04        173            9              0   Free
28      2015-01-04        221            9              1   Free
29      2015-01-04        233            9              0   Free
...            ...        ...          ...            ...    ...
1873588 2015-07-28         85          315              0   Free
1873589 2015-07-28        103          315              0   Free
1873590 2015-07-28        121          315              2   Free
1873591 2015-07-28        159          315              0   Free
1873592 2015-07-28        246          315              0   Free
1873593 2015-07-28        301          315              0   Free
1873594 2015-07-28        312          315              1   Free
1873595 2015-07-28        330          315              0   Free
1873596 2015-07-29         22          315              2   Free
1873597 2015-07-29         61          315              0   Free
1873598 2015-07-29         94          315              3   Free
1873599 2015-07-29        156          315              0   Free
1873600 2015-07-29        177          315              2   Free
1873601 2015-07-30          9          315              0   Free
1873602 2015-07-30         27          315              0   Free
1873603 2015-07-30         30          315              0   Free
1873604 2015-07-30         46          315              0   Free
1873605 2015-07-30         62          315              0   Free
1873606 2015-07-30         67          315              0   Free
1873607 2015-07-30        160          315              0   Free
1873608 2015-07-30        179          315              0   Free
1873609 2015-07-30        191          315              0   Free
1873610 2015-07-30        214          315              0   Free
1873611 2015-07-30        225          315              0   Free
1873612 2015-07-30        269          315              0   Free
1873613 2015-07-30        292          315              0   Free
1873614 2015-07-31         12          315              1   Free
1873615 2015-07-31        104          315              1   Free
1873616 2015-07-31        261          315              1   Free
1873617 2015-07-31        295          315              1   Free

[1873618 rows x 5 columns]

In [319]:
#a=pd.to_datetime("9/1/2015")

In [320]:
#a.day

In [321]:
#Encoding
d = [1 if x=="Promo" else 0  for x in df1['Season'] ]

In [322]:
df1['season'] = d
df1.head(10)

        Date  StoreCode  ProductCode  SalesQuantity Season  season
0 2015-01-01          8            9             -1   Free       0
1 2015-01-01        131            9              1   Free       0
2 2015-01-01        144            9              2   Free       0
3 2015-01-01        203            9              2   Free       0
4 2015-01-01        256            9              0   Free       0
5 2015-01-01        273            9              1   Free       0
6 2015-01-02         12            9              0   Free       0
7 2015-01-02         52            9              1   Free       0
8 2015-01-02         65            9              1   Free       0
9 2015-01-02        118            9              1   Free       0

In [323]:
df1[df1['Season']=='Promo']
#Looks like ordinal encoding is done.

              Date  StoreCode  ProductCode  SalesQuantity Season  season
507     2015-02-10          6            9              0  Promo       1
508     2015-02-10         14            9              0  Promo       1
509     2015-02-10         28            9              0  Promo       1
510     2015-02-10         45            9              1  Promo       1
511     2015-02-10         47            9              1  Promo       1
512     2015-02-10         62            9              0  Promo       1
513     2015-02-10         65            9              0  Promo       1
514     2015-02-10         99            9              0  Promo       1
515     2015-02-10        135            9              0  Promo       1
516     2015-02-10        139            9              1  Promo       1
517     2015-02-10        148            9              0  Promo       1
518     2015-02-10        178            9              0  Promo       1
519     2015-02-10        188            9              0  Promo       1
520     2015-02-10        196            9              0  Promo       1
521     2015-02-10        214            9              1  Promo       1
522     2015-02-10        218            9              0  Promo       1
523     2015-02-10        219            9              1  Promo       1
524     2015-02-10        225            9              2  Promo       1
525     2015-02-10        249            9              0  Promo       1
526     2015-02-10        294            9              0  Promo       1
527     2015-02-10        295            9              0  Promo       1
528     2015-02-10        301            9              0  Promo       1
529     2015-02-10        316            9              1  Promo       1
530     2015-02-10        330            9              0  Promo       1
531     2015-02-10        340            9              1  Promo       1
532     2015-02-11         22            9              1  Promo       1
533     2015-02-11         24            9              0  Promo       1
534     2015-02-11         52            9              0  Promo       1
535     2015-02-11         53            9              1  Promo       1
536     2015-02-11         56            9              0  Promo       1
...            ...        ...          ...            ...    ...     ...
1873444 2015-06-22        307          315              1  Promo       1
1873445 2015-06-23         22          315              0  Promo       1
1873446 2015-06-23        272          315              0  Promo       1
1873447 2015-06-23        301          315              0  Promo       1
1873448 2015-06-24          4          315              4  Promo       1
1873449 2015-06-24         43          315              2  Promo       1
1873450 2015-06-24         59          315              1  Promo       1
1873451 2015-06-24         67          315              0  Promo       1
1873452 2015-06-24        160          315              3  Promo       1
1873453 2015-06-24        162          315              1  Promo       1
1873454 2015-06-24        181          315              1  Promo       1
1873455 2015-06-24        307          315              0  Promo       1
1873456 2015-06-25         43          315              0  Promo       1
1873457 2015-06-25         59          315              0  Promo       1
1873458 2015-06-25        156          315              0  Promo       1
1873459 2015-06-25        180          315              4  Promo       1
1873460 2015-06-25        196          315              0  Promo       1
1873461 2015-06-25        214          315              0  Promo       1
1873462 2015-06-25        231          315              0  Promo       1
1873463 2015-06-25        237          315              0  Promo       1
1873464 2015-06-25        295          315              1  Promo       1
1873465 2015-06-26         77          315              2  Promo       1
1873466 2015-06-26        270          315              1  Promo       1
1873467 2015-06-26        283          315              0  Promo       1
1873468 2015-06-27        279          315              2  Promo       1
1873469 2015-06-28         20          315              0  Promo       1
1873470 2015-06-28         30          315              0  Promo       1
1873471 2015-06-28         77          315              0  Promo       1
1873472 2015-06-28         92          315              0  Promo       1
1873473 2015-06-28        199          315              0  Promo       1

[310923 rows x 6 columns]

In [324]:
df1 = df1.drop('Season',axis = 1)

In [325]:
df1.head(10)

        Date  StoreCode  ProductCode  SalesQuantity  season
0 2015-01-01          8            9             -1       0
1 2015-01-01        131            9              1       0
2 2015-01-01        144            9              2       0
3 2015-01-01        203            9              2       0
4 2015-01-01        256            9              0       0
5 2015-01-01        273            9              1       0
6 2015-01-02         12            9              0       0
7 2015-01-02         52            9              1       0
8 2015-01-02         65            9              1       0
9 2015-01-02        118            9              1       0

In [326]:
print(df1.ProductCode.unique())
print(df1.StoreCode.unique())

[  9   6   3   2   5   4   1  12  20   8  11  22  16  45   7  10  35  19
  29  13  18  32  14  23  21  15  42  36  49  50  33  17  27  41  24  28
  47  37  30  43  25  58  56  44  38  51  26  64  67  68  62  77  73  57
  65  72  80  53  31  79  46  81  60  74  96  75  34  39  61  66  86  76
  48  70 112  90  84  94 113  83 105 121 123  52  78  55  59  40 132 144
  69  85 103  88  98 116  71  93 101 122 165 172 130  54  82 109  91 104
 118  87  95 125 126 182 186  89 157 110  99  97 106  63 128 108  92 136
 102 111 193 140 198 166 119 107 114 117 100 127 120 146 129 124 231 134
 246 154 115 137 133 141 282 138 153 289 135 301 139 131 142 152 158 147
 149 174 306 169 180 168 143 171 170 145 187 310 314 183 189 317 159 188
 148 192 195 163 167 173 151 203 202 155 190 217 201 206 164 176 212 175
 194 228 253 211 150 156 258 215 196 179 205 184 213 261 263 160 161 208
 220 266 162 185 270 218 279 214 177 286 178 209 290 197 232 181 219 298
 300 222 302 216 191 245 199 303 235 254 230 238 251 224 309 311 316 225
 200 244 259 226 227 236 204 241 249 295 257 229 233 207 252 242 234 239
 269 283 240 243 255 285 287 210 247 248 260 271 256 272 274 250 288 277
 262 264 221 267 273 276 268 291 278 293 280 292 294 296 223 237 297 265
 305 299 275 304 307 312 308 313 281 284 315]
[  8 131 144 203 256 273  12  52  65 118 173 177 184 250 304 331  62 148
 245  20  44  86  98 125 137 221 233 269 293 308 339   1   5   7  37  94
 167 181 186 199 260 276 280 307   6  14 100 113 277 288  18  46  50  95
 117 136 139 143 188 196 330   9  39  90 106 108 192 194 198 249 278 279
 290 312 321  23  36  56 147 190 323  28  60 282  42  43  68  70 191 314
 315  55  84  99 132 170 219 247 258 274 340  48  89 138 213 248 272 325
 333  24  82 119 262 172 211 218 268 283 292  35  78  13 301   3 134 214
  87 201 210 254 259 264 267 311 319  32  51  88 110 146 228 296 337 239
 302  91 215 271  81 114 135 141 165 316 116 178 295  19 252 261 332 162
 208 240 255 294 309  25  83 150 234 180 270 324 112 305 310 109 226 238
 193 286 328 168  45  47 225  22  53  40 313 115 243 126 140  26 163 281
 153  33 205 334 176 158   2  15  41 128 298 251  61 159  16 336  73 157
 187 236  79 151 244  71 207 329  96 189 216 289 253 197 291 263  27 164
 220 171  49  63  74 275 327 122 174 223 265 285 206  66 300 322  67 142
 202 284 107  17 335  21 104  80 257  31 303  38 217 242 129 297 124 161
 237 185 231 317 338 120 155 222 160 209 246  34  57  75 320  29  72 102
 224 232 123 183  30  93  92 105 200  54 318  58 127 182  97  69 229 145
 299 212  59 175 130 121  10 149 166 306 287  64 179 103 101 235  77 195
 326 230  76 111 266 241   4 133 156  85  11 204 154 227 152 169]

In [327]:
df_graph=df1
df_graph['date'] = pd.to_datetime(df1['Date'])
df_graph['month'] = df1['date'].dt.month
df_graph['monthday'] = df1['date'].dt.day
df_graph['weekday'] = df1['date'].dt.weekday # Which day is it ?

df_graph.head(3)

,Date,StoreCode,ProductCode,SalesQuantity,season,date,month,monthday,weekday
0,2015-01-01,8,9,-1,0,2015-01-01,1,1,3
1,2015-01-01,131,9,1,0,2015-01-01,1,1,3
2,2015-01-01,144,9,2,0,2015-01-01,1,1,3

In [329]:
#First make aggregation
# Getting week number
df1['Week_Number'] = df1['Date'].dt.week
df1.tail(3)

,Date,StoreCode,ProductCode,SalesQuantity,season,date,month,monthday,weekday,Week_Number
1873615,2015-07-31,104,315,1,0,2015-07-31,7,31,4,31
1873616,2015-07-31,261,315,1,0,2015-07-31,7,31,4,31
1873617,2015-07-31,295,315,1,0,2015-07-31,7,31,4,31

Lets find the non-promotion periods and lets assign it into the variable named as df_nonProm

In [341]:
df_nonProm=df1[df1['season']==0]
df_nonProm.shape

(1562695, 10)

Now lets apply aggregation on a weekly basis

In [342]:
df1_agg = df_nonProm[["StoreCode","ProductCode","SalesQuantity","Week_Number"]].groupby(['Week_Number',"StoreCode", "ProductCode"]).agg({ 'SalesQuantity':'sum'}).reset_index()

In [344]:
df1_agg.shape

(902383, 4)

In [345]:
df1_agg # This data frame gives the sales quantity of entire of WeekNum-StoreCode and ProductCode pair

        Week_Number  StoreCode  ProductCode  SalesQuantity
0                 1          1           40              1
1                 1          1           41              1
2                 1          1           46              1
3                 1          1           47              1
4                 1          1           79              1
5                 1          1           85              1
6                 1          1           97              7
7                 1          1          126             -1
8                 1          1          138              1
9                 1          1          149              3
10                1          1          154              1
11                1          1          156              2
12                1          1          157              2
13                1          1          162              5
14                1          1          168              8
15                1          1          180              1
16                1          1          186             25
17                1          1          187              1
18                1          1          190             25
19                1          1          201              2
20                1          1          207              1
21                1          1          212              1
22                1          1          216              1
23                1          1          217              1
24                1          1          219              1
25                1          1          222              1
26                1          1          223              1
27                1          1          224              1
28                1          1          232              1
29                1          1          243             10
...             ...        ...          ...            ...
902353           31        340          221              3
902354           31        340          224              3
902355           31        340          233              0
902356           31        340          241              1
902357           31        340          244              0
902358           31        340          245              0
902359           31        340          247              0
902360           31        340          248              0
902361           31        340          249              3
902362           31        340          252             14
902363           31        340          254              9
902364           31        340          255              4
902365           31        340          265              0
902366           31        340          268              0
902367           31        340          269              0
902368           31        340          270              0
902369           31        340          275              0
902370           31        340          277              1
902371           31        340          279              0
902372           31        340          280              1
902373           31        340          292              0
902374           31        340          293              5
902375           31        340          299              1
902376           31        340          305              0
902377           31        340          306              0
902378           31        340          307              2
902379           31        340          308              2
902380           31        340          312              1
902381           31        340          313              0
902382           31        340          317              0

[902383 rows x 4 columns]

Product with higher average weekly sale per store during non-promotion periods will be called “Fast items” and items with lower weekly average sale per store will be labeled as “Slow items”, items in between will be called “Medium items”. Grouping parameters selection is left to you. Apply similar approach to Stores as well.

Now we are only interested in ProductCodes and try to find average weekly sale per store. Below query returns average sales quantity of specific ProductCode per store in particular week.

In [349]:
df1_agg2 = df_nonProm[["StoreCode","ProductCode","SalesQuantity","Week_Number"]].groupby(['Week_Number', "ProductCode"],as_index='False').agg({'SalesQuantity':'mean'}).reset_index()
df1_agg2

      Week_Number  ProductCode  SalesQuantity
0               1            1       3.327869
1               1            2       2.052632
2               1            3       2.536585
3               1            4       2.482143
4               1            5       2.469697
5               1            6       0.648649
6               1            7       1.950000
7               1            8       1.000000
8               1            9       0.647059
9               1           11       0.642857
10              1           12       0.000000
11              1           13       0.000000
12              1           14       0.833333
13              1           16       0.538462
14              1           17       1.000000
15              1           19       0.750000
16              1           21       0.700000
17              1           23       0.676471
18              1           24       0.980769
19              1           25       1.736842
20              1           26       2.000000
21              1           27       0.692308
22              1           29       0.690141
23              1           30       0.531250
24              1           31       0.759494
25              1           32       0.803571
26              1           33       0.828571
27              1           35       1.272727
28              1           36       0.652174
29              1           37       0.837209
...           ...          ...            ...
7955           31          285       0.181818
7956           31          286       0.448980
7957           31          287       1.290970
7958           31          288       1.073846
7959           31          289       0.500000
7960           31          290       0.990476
7961           31          292       0.566820
7962           31          293       0.560748
7963           31          294       1.615385
7964           31          295       1.542056
7965           31          296       1.925000
7966           31          298       0.400000
7967           31          299       1.175141
7968           31          300       0.978873
7969           31          301       1.488889
7970           31          302       1.431953
7971           31          303       1.200000
7972           31          304       3.500000
7973           31          305       0.694190
7974           31          306       0.504823
7975           31          307       1.388235
7976           31          308       1.383178
7977           31          309      -1.000000
7978           31          311       0.500000
7979           31          312       3.862745
7980           31          313       1.883041
7981           31          314       1.173913
7982           31          315       0.435897
7983           31          316       0.333333
7984           31          317       0.125000

[7985 rows x 3 columns]

Finally if we group by again it by week , this will give the average weekly sales of products per week.

In [350]:
#Mean of all Products sales quantities (weekly average)
df1_agg2.groupby(['ProductCode'],as_index='False').agg({'SalesQuantity':'mean'}).reset_index()

     ProductCode  SalesQuantity
0              1       2.412894
1              2       2.204202
2              3       1.798365
3              4       2.131167
4              5       1.960715
5              6       0.473986
6              7       1.569056
7              8       1.192308
8              9       0.415052
9             10       0.065152
10            11       0.393610
11            12       0.186275
12            13       0.264706
13            14       0.440420
14            15       1.000000
15            16       0.491601
16            17       0.843750
17            18       0.884615
18            19       0.521385
19            20       1.255512
20            21       0.429828
21            22       0.363631
22            23       0.598314
23            24       0.497334
24            25       1.432110
25            26       1.751988
26            27       0.533288
27            28       1.000000
28            29       0.457974
29            30       0.417842
..           ...            ...
286          288       1.021580
287          289       0.508330
288          290       0.944739
289          291       0.500000
290          292       0.677055
291          293       0.715249
292          294       1.815269
293          295       2.055134
294          296       1.818020
295          297       1.082073
296          298       0.487501
297          299       1.751765
298          300       1.640938
299          301       1.456653
300          302       1.510814
301          303       1.332002
302          304       1.400144
303          305       0.798213
304          306       0.750846
305          307       1.641112
306          308       1.598018
307          309      -0.500000
308          310       0.000000
309          311       0.363017
310          312       2.400996
311          313       2.111307
312          314       0.619531
313          315       0.499027
314          316       0.504606
315          317       0.357346

[316 rows x 2 columns]

Now let's visualize it. Remember that this results not among the promotion periods , this is why there is some gaps in the X-Axis

In [365]:
trace=df1_agg2.groupby(['ProductCode'],as_index='False').agg({'SalesQuantity':'mean'}).reset_index()

trace1 = go.Bar(x=trace['ProductCode'], y=trace['SalesQuantity'], opacity=0.85, name="Mean Sales", marker=dict(color ='#002300'))
layout = go.Layout(title=go.layout.Title( text='Average Weekly Sale per Store During non-promotion Periods', xref='paper', x=0 ),
xaxis=go.layout.XAxis(
        title=go.layout.xaxis.Title(
            text='Product Code',
            font=dict(
                family='Courier New, monospace',
                size=18,
                color='#7f7f7f'
            )
        )
    ),
    yaxis=go.layout.YAxis(
        title=go.layout.yaxis.Title(
            text='Mean Sales',
            font=dict(
                family='Courier New, monospace',
                size=18,
                color='#737f7f'
            )
        )
    )
)
fig = go.Figure(data=[trace1], layout=layout);
iplot(fig)

In [375]:
trace.sort_values(by='SalesQuantity')

     ProductCode  SalesQuantity
225          226      -2.000000
227          228      -2.000000
164          165      -1.000000
181          182      -1.000000
226          227      -1.000000
159          160      -0.750000
307          309      -0.500000
48            49       0.000000
182          183       0.000000
162          163       0.000000
308          310       0.000000
9             10       0.065152
11            12       0.186275
163          164       0.238095
12            13       0.264706
54            55       0.279090
235          236       0.288499
266          268       0.295221
191          192       0.296112
66            67       0.303170
67            68       0.308385
51            52       0.320572
269          271       0.328571
98            99       0.329846
230          231       0.330557
260          262       0.331321
107          108       0.347551
268          270       0.353564
315          317       0.357346
267          269       0.361385
..           ...            ...
109          110       2.819131
184          185       2.915562
241          242       2.980791
178          179       2.999781
245          246       3.009520
189          190       3.012095
183          184       3.032119
177          178       3.107851
206          207       3.179710
209          210       3.218841
215          216       3.307679
221          222       3.385596
204          205       3.870955
218          219       3.955140
219          220       4.071152
171          172       4.114269
170          171       4.115485
208          209       4.218581
123          124       4.368001
169          170       4.865288
168          169       5.211129
238          239       5.760509
220          221       5.836864
138          139       6.030520
165          166       6.689786
166          167       7.299066
237          238       8.964215
167          168       9.021448
217          218       9.436624
136          137      14.653301

[316 rows x 2 columns]

In one dimensional data, ı don't prefer to use cluster analysis since it is usually a multivariate technique. I will  optimize the interval borders.
One simple way is to basically use sorting of the 1D array: i.e. iterate over each point and get the values which are at a minimum distance from it in both the positive and the negative directions. For example:

In [411]:
import sklearn
from sklearn.cluster import MeanShift, estimate_bandwidth

ImportError: cannot import name '_astype_copy_false'

In [391]:
a = array([10,11,9,23,21,11,45,20,11,12]).reshape(-1, 1)
kde = KernelDensity(kernel='gaussian', bandwidth=3).fit(a)

NameError: name 'KernelDensity' is not defined

In [334]:
df1_agg3 = df1[["StoreCode","ProductCode","SalesQuantity","Week_Number"]].groupby(['Week_Number',"StoreCode"]).agg({ 'SalesQuantity':'sum'}).reset_index()

In [335]:
#Mean of all Products sales quantities (weekly average)
df1_agg3.groupby(['StoreCode'],as_index='False').agg({'SalesQuantity':'mean'}).reset_index()

     StoreCode  SalesQuantity
0            1     405.870968
1            2    1332.935484
2            3     268.645161
3            4     432.645161
4            5     336.516129
5            6     547.580645
6            7     675.387097
7            8     315.870968
8            9     625.838710
9           10     190.225806
10          11     158.645161
11          12     267.290323
12          13     250.483871
13          14     812.870968
14          15     201.677419
15          16     155.580645
16          17     345.064516
17          18     558.709677
18          19       0.000000
19          20     478.290323
20          21     661.225806
21          22     741.161290
22          23     183.774194
23          24     587.903226
24          25     525.037037
25          26     253.645161
26          27     285.451613
27          28     323.419355
28          29      71.875000
29          30     269.000000
..         ...            ...
310        311     270.225806
311        312     287.967742
312        313     389.516129
313        314     551.516129
314        315     308.096774
315        316     577.451613
316        317     287.960000
317        318     293.322581
318        319     249.040000
319        320     206.322581
320        321     344.612903
321        322     300.387097
322        323     603.580645
323        324     301.354839
324        325     421.483871
325        326     315.419355
326        327     162.935484
327        328     351.354839
328        329     307.451613
329        330     487.258065
330        331    1743.838710
331        332     243.064516
332        333     836.612903
333        334     442.903226
334        335     311.483871
335        336     354.612903
336        337     459.870968
337        338     383.161290
338        339     542.580645
339        340     613.774194

[340 rows x 2 columns]